@import "_variables.scss";
.footerWrapper {
  .footerDivider {
    margin: auto;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    width: clamp($page-content-xs, $page-content-lg, calc(100vw - 79px));
    margin: auto;
    padding: 16px 0 64px 0;
  }

  /* this hides the disclosure widget triangle: https://stackoverflow.com/a/56649741 */
  details > summary {
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }
}

@media screen and (max-width: $breakpoints-sm) {
  .footer span {
    display: block;
  }
}
