[submodule "29-restroom-servicing-monitor/firmware/note-c"]
	path = 29-restroom-servicing-monitor/firmware/note-c
	url = https://github.com/blues/note-c
[submodule "29-restroom-servicing-monitor/firmware/sparrow-lora"]
	path = 29-restroom-servicing-monitor/firmware/sparrow-lora
	url = https://github.com/blues/sparrow-lora.git
[submodule "28-door-state-monitor/firmware/note-c"]
	path = 28-door-state-monitor/firmware/note-c
	url = https://github.com/blues/note-c
[submodule "28-door-state-monitor/firmware/sparrow-lora"]
	path = 28-door-state-monitor/firmware/sparrow-lora
	url = https://github.com/blues/sparrow-lora.git
[submodule "32-fall-detection-and-panic-button/firmware/note-c"]
	path = 32-fall-detector-and-panic-button/firmware/note-c
	url = https://github.com/blues/note-c
[submodule "32-fall-detection-and-panic-button/firmware/sparrow-lora"]
	path = 32-fall-detector-and-panic-button/firmware/sparrow-lora
	url = https://github.com/blues/sparrow-lora.git
[submodule "33-room-occupancy-monitor/firmware/sparrow-lora"]
	path = 33-room-occupancy-monitor/firmware/sparrow-lora
	url = https://github.com/blues/sparrow-lora.git
[submodule "33-room-occupancy-monitor/firmware/note-c"]
	path = 33-room-occupancy-monitor/firmware/note-c
	url = https://github.com/blues/note-c
[submodule "30-air-quality-and-gas-leak/firmware/note-c"]
	path = 30-indoor-air-quality-and-gas-leak/firmware/note-c
	url = https://github.com/blues/note-c
[submodule "30-air-quality-and-gas-leak/firmware/sparrow-lora"]
	path = 30-indoor-air-quality-and-gas-leak/firmware/sparrow-lora
	url = https://github.com/blues/sparrow-lora
[submodule "31-temperature-and-smoke-detector/firmware/sparrow-lora"]
	path = 31-temperature-and-smoke-detector/firmware/sparrow-lora
	url = https://github.com/blues/sparrow-lora
[submodule "31-temperature-and-smoke-detector/firmware/note-c"]
	path = 31-temperature-and-smoke-detector/firmware/note-c
	url = https://github.com/blues/note-c
[submodule "09-valve-monitor/firmware/zephyr/note-c"]
	path = 09-valve-monitor/firmware/zephyr/note-c
	url = https://github.com/blues/note-c
[submodule "18-temperature-and-humidity-monitor/firmware/zephyr/src/note-c"]
	path = 18-temperature-and-humidity-monitor/firmware/zephyr/src/note-c
	url = https://github.com/blues/note-c
[submodule "18-temperature-and-humidity-monitor/firmware/zephyr/src/notecard_env_var_manager"]
	path = 18-temperature-and-humidity-monitor/firmware/zephyr/src/notecard_env_var_manager
	url = https://github.com/blues/notecard-env-var-manager.git
[submodule "37-heat-index-monitor/firmware/zephyr/src/note-c"]
	path = 37-heat-index-monitor/firmware/zephyr/src/note-c
	url = https://github.com/blues/note-c
[submodule "37-heat-index-monitor/firmware/zephyr/src/notecard_env_var_manager"]
	path = 37-heat-index-monitor/firmware/zephyr/src/notecard_env_var_manager
	url = https://github.com/blues/notecard-env-var-manager.git
[submodule "08-power-quality-monitor/firmware/zephyr/src/note-c"]
	path = 08-power-quality-monitor/firmware/zephyr/src/note-c
	url = https://github.com/blues/note-c
[submodule "08-power-quality-monitor/firmware/zephyr/src/notecard_env_var_manager"]
	path = 08-power-quality-monitor/firmware/zephyr/src/notecard_env_var_manager
	url = https://github.com/blues/notecard-env-var-manager.git