/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};

&{/gpio_keys} {
	attn_pin: attn_pin {
		label = "ATTN";
		gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
	};

	flow_meter_pin: flow_meter_pin {
		label = "Flow meter";
		gpios = <&gpioe 9 GPIO_ACTIVE_LOW>;
	};

	pump_pin: pump_pin {
		label = "Pump";
		gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
	};

	valve_pin: valve_pin {
		label = "Valve";
		gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;
	};
};

&{/aliases} {
	attn = &attn_pin;
	flow-meter = &flow_meter_pin;
	pump = &pump_pin;
	valve = &valve_pin;
};
