@import "_variables.scss";

.cardContainer {
  border: 1px solid $bw-color--grey3;

  :global .ant-card-head {
    padding: 0;
    min-height: 0;
  }

  :global .ant-card-head-title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    background-color: $bw-color--grey1;
    color: $bw-color--brand3;
    white-space: normal;
    height: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    font-size: 14px;
    color: $bw-color--brand2;
    margin-bottom: 0;
  }
  p span {
    display: inline-block;
    padding-left: 3px;
    color: $bw-color--brand4;
  }
  :global .anticon {
    color: $bw-color--brand3;
  }

  :global .ant-form-item {
    margin-bottom: 5px;
  }

  label {
    font-size: 12px;
  }

  :global .ant-input-number {
    border-color: $bw-color--grey3;
  }
  :global .ant-input-number:focus,
  :global .ant-input-number:hover {
    border-color: $bw-color--blue3;
  }

  :global .ant-card-body {
    padding: 0;
    height: 185px;
  }
}

@media screen and (max-width: $breakpoints-md) {
  .cardContainer {
    :global .ant-card-head-title {
      font-size: 14px;
      padding: 0 21px;
    }

    :global .ant-card-body {
      height: 180px;
    }
  }
}

@media screen and (max-width: $breakpoints-sm) {
  .cardContainer {
    margin-bottom: 32px;

    :global .ant-card-body {
      height: 130px;
    }

    :global .ant-card-head-title {
      font-size: 14px;
    }
  }
}
