@import "_variables.scss";

.cardContainer {
  border: 1px solid $bw-color--grey3;

  :global .ant-card-head {
    padding: 0;
    min-height: 0;
  }

  :global .ant-card-head-title {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 8px 0 4px 0;
    background-color: $bw-color--grey0;
    color: $bw-color--brand3;
    white-space: normal;
  }

  p {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }

  :global .ant-card-body {
    padding: 15px;
  }
}

@media screen and (max-width: $breakpoints-sm) {
  .cardContainer {
    margin: 12px 0;

    :global .ant-card-head-title {
      padding: 15px 0 15px 15px;
      text-align: start;
    }
  }
}

@media screen and (max-width: $breakpoints-xs) {
  .cardContainer {
    :global .ant-card-head-title,
    :global .ant-card-body {
      padding: 4px 8px;
    }
  }
}
