@import "_variables.scss";

.header {
  display: flex;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
  }

  .headerTitle {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }

  .headerText {
    color: $bw-color--brand1;
    font-size: 13px;
  }
}

@media screen and (max-width: $breakpoints-xs) {
  .header {
    padding: 0 20px !important;
  }
}
