@import "_variables.scss";

.container {
  .errorMessage {
    text-align: center;
    margin-top: 24px;
  }

  .sectionTitle {
    font-size: 18px;
    font-weight: 600;
    margin: 24px 0;
  }

  .tableHeaderRow {
    display: flex;
    width: 100%;
    align-items: first baseline;
    justify-content: space-between;
  }
}

@media screen and (max-width: $breakpoints-sm) {
  .container {
    .sectionTitle {
      font-size: 16px;
    }
  }
}
