@import "_variables.scss";

.container {
  .errorMessage {
    text-align: center;
    margin-top: 24px;
  }

  .sectionTitle {
    font-size: 18px;
    font-weight: 600;
    margin: 24px 0;
  }
}

@media screen and (max-width: $breakpoints-sm) {
  .container {
    :global .ant-row {
      flex-direction: column;
    }
  }
}
