@import "_variables.scss";

.container {
  .errorMessage {
    text-align: center;
    margin-top: 24px;
  }

  .sectionTitle {
    font-size: 18px;
    font-weight: 600;
    margin: 24px 0;
  }

  .motionFrequencyCard {
    width: 170px;
  }

  .tableHeaderRow {
    display: flex;
    width: 100%;
    align-items: first baseline;
    justify-content: space-between;
  }
}
