@import "_variables.scss";

.mainContentWrapper {
  background-color: $bw-color--grey0;
  padding: 32px;

  .mainContent {
    // required to override default Ant Design component styling
    min-height: calc(
      100vh - $header-bar-height - $footer-bar-height
    ) !important;
    width: clamp($page-content-xs, $page-content-lg, calc(100vw - 79px));
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #fff;
    padding: 20px;
  }
}

@media screen and (max-width: $breakpoints-md) {
  .mainContent {
    min-height: calc(
      100vh - $header-bar-height - $tablet-footer-bar-height
    ) !important;
  }
}
