@import "_variables.scss";

.radioContainer {
  margin-top: 15px;

  :global .ant-radio-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  :global span.ant-radio + * {
    font-size: 14px;
    padding-left: 14px;
    margin: 10px 0;
  }

  :global .ant-radio-inner::after {
    background-color: $bw-color--brand3;
  }

  :global .ant-radio-inner {
    border-color: $bw-color--brand3;
    border-width: 2px;
  }
}

@media screen and (max-width: $breakpoints-sm) {
  .radioContainer {
    margin-top: 0;
    :global .ant-radio-group {
      align-items: flex-start;
      margin-left: 20px;
    }
  }
}
