@import "_variables.scss";

.formLabel {
  font-size: 400;

  :global .ant-input-show-count-suffix {
    font-weight: 400;
  }

  :global .ant-form-item-required > p {
    margin-bottom: 0px;
  }
}

.formLabel {
  // the !important is needed to override default ant component styling
  margin-bottom: 8px !important;
}

.formData {
  font-weight: 400;
}
