@import "_colors.scss";

$header-bar-height: 64px;
$footer-bar-height: 107px;
$tablet-footer-bar-height: 126px;

$breakpoints-xs: 480px;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1600px;

$page-content-xs: 375px;
$page-content-sm: 500px;
$page-content-md: 768px;
$page-content-xl: 1200px;
