@import "_variables.scss";

.editableHeading {
  display: flex;
}

.timestamp,
.nodeTimestamp,
.nodeChartTimestamp,
.nodeFormTimestamp {
  color: $bw-color--grey4;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: -7px;
}

.timestamp {
  margin-bottom: 4px;
}

.signalStrength {
  padding-bottom: 30px;
  display: flex;
  align-items: center;

  .voltage {
    font-size: 13px;
    padding-right: 8px;
  }
}

.nodeTimestamp {
  font-size: 13px;
  margin-top: -3px;
  margin-bottom: 0;
}

.nodeChartTimestamp,
.nodeFormTimestamp {
  font-size: 13px;
  margin-top: -10px;
}

.dateRangeLabel {
  margin-bottom: 4px;
}

.currentReadingsRow {
  margin-bottom: 16px;
}

.card {
  padding: 10px 15px;
  text-align: center;

  :global .ant-card-body {
    padding: 0;

    :global .anticon-info-circle {
      padding-left: 4px;
    }
  }

  .dataNumber {
    font-size: 20px;
    font-weight: 600;
  }
}

.tabSectionTitle {
  font-weight: 600;
  margin-bottom: 0;
}

@media screen and (max-width: $breakpoints-md) {
  .timestamp {
    font-size: 18px;
  }

  .nodeTimestamp,
  .nodeFormTimestamp {
    font-size: 16px;
  }

  .nodeChartTimestamp {
    font-size: 15px;
    margin-top: -12px;
    margin-bottom: 15px;
  }

  .nodeChart {
    :global .ant-card-body {
      padding: 10px 20px;
    }
  }

  .tabSectionTitle {
    font-size: 20px;
  }
}
