@import "_variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  // required to override default Ant Design component styling
  padding: 0 64px !important;

  a {
    margin-top: 8px;
  }

  .logo {
    display: flex;
    align-items: center;
    filter: invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg)
      brightness(118%) contrast(118%);
  }

  .headerText {
    color: #fff;
    font-size: 15px;
  }
}

@media screen and (max-width: $breakpoints-xs) {
  .header {
    padding: 0 20px !important;
  }
}
