@import "_variables.scss";

.cardContainer {
  border: 1px solid $bw-color--grey3;

  p {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }

  :global .ant-card-head,
  :global .ant-card-body {
    padding: 12px 15px;
  }
}

@media screen and (max-width: $breakpoints-sm) {
  .cardContainer {
    margin-bottom: 24px;
    max-width: 250px;

    :global .ant-card-body {
      padding: 16px 6px;
    }
  }
}

@media screen and (max-width: $breakpoints-xs) {
  .cardContainer {
    :global .ant-card-body {
      padding: 4px 8px;
    }
  }
}
