@import "_variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1,
  h2 {
    margin-bottom: 0;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .headerTitle {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }

  .headerText {
    color: #9ebacc;
    font-size: 13px;
  }

  :global svg {
    height: 25px;
    width: 25px;
  }
}

@media screen and (max-width: $breakpoints-xs) {
  .header {
    padding: 0 20px !important;
  }
}
