@import "_variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  // required to override default Ant Design component styling
  padding: 0 64px !important;

  .logo {
    display: flex;
    align-items: center;
  }

  .headerTitle {
    color: #fff;
    font-size: 20px;
  }

  .headerText {
    color: #9ebacc;
    font-size: 13px;
  }
}

@media screen and (max-width: $breakpoints-xs) {
  .header {
    padding: 0 20px !important;
  }
}
