@import "_variables.scss";

.container {
  h3 {
    width: 100%;
  }

  .errorMessage {
    text-align: center;
    margin-top: 24px;
  }

  .sectionTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 24px;
  }

  .tableHeaderRow {
    display: flex;
    width: 100%;
    align-items: first baseline;
  }

  :global .ant-alert {
    margin-bottom: 12px;
  }
}
