@import "_variables.scss";

.container {
  h3 {
    width: 100%;
  }

  .errorMessage {
    text-align: center;
    margin-top: 24px;
  }

  .sectionTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 24px;
  }

  .motionAlertCard {
    width: 200px;
  }

  .liveTrackCard {
    width: 115px;
  }

  :global .ant-alert {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: $breakpoints-sm) {
  .container {
    .sectionTitle {
      display: none;
    }

    .liveTrackCard,
    .motionAlertCard {
      display: block;
      width: 100%;
    }
  }
}
