@import "_variables.scss";

.mainContent {
  // required to override default Ant Design component styling
  min-height: calc(100vh - $header-bar-height - $footer-bar-height) !important;
  width: clamp($page-content-xs, $page-content-md, calc(100vw - 128px));
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

@media screen and (max-width: $breakpoints-md) {
  .mainContent {
    min-height: calc(
      100vh - $header-bar-height - $tablet-footer-bar-height
    ) !important;
  }
}
