@import "_variables.scss";

.radioContainer {
  :global .ant-radio-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  :global span.ant-radio + * {
    font-size: 14px;
    padding-left: 16px;
  }

  :global .ant-radio-inner::after {
    background-color: $bw-color--brand3;
  }

  :global .ant-radio-inner {
    border-color: $bw-color--brand3;
    border-width: 2px;
  }
}

@media screen and (max-width: $breakpoints-sm) {
  .radioContainer {
    :global .ant-radio-group {
      align-items: flex-start;
      margin-left: 20px;
    }

    :global .ant-radio-wrapper {
      margin-bottom: 4px;
    }
  }
}
