@import "_variables.scss";

.siderWrapper {
  .siderHeader {
    border-right: 2px solid $bw-color--grey0;
    border-bottom: 1px solid $bw-color--grey1;

    .siderTitleWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 0;

      .siderTitle {
        font-size: 14px;
        font-weight: 600;
        padding-left: 12px;
        margin-top: 16px;
      }
    }
  }

  :global .ant-menu-title-content {
    margin-left: 16px;
  }

  :global .ant-menu-inline {
    border-right: 2px solid $bw-color--grey0;
  }

  :global .ant-menu-item {
    margin: 0 !important;
    height: 50px !important;
  }

  :global .ant-menu-item-selected {
    color: inherit;
  }
}
