name: indoor-floor-level-tracker/web-app

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "01-indoor-floor-level-tracker/web-app/**"

defaults:
  run:
    shell: bash
    working-directory: 01-indoor-floor-level-tracker/web-app

jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: crazy-max/ghaction-dump-context@v1
      - uses: actions/checkout@v2
      - uses: actions/cache@v4
        with:
          path: |
            node_modules
            /home/runner/.cache/Cypress
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-
      - run: yarn install
      - run: yarn ci
